<div *ngIf = "ejemplares?.length > 0" class="container">
    <div class="row">
      <!-- Muestra solo un Ejemplar -->
      <main *ngIf = "!mostrarTodas" class="post blog-post col-lg-8"> 
        <div class="container">
          <div class="row">
            <div class="post-single"  *ngFor="let ejemplar of ejemplares | filterBy:filtrado | orderBy:['nombre'] " >
              <div class="post-thumbnail"><img  src={{rutaEjem}}{{ejemplar._id}}{{ejemplar.ilustracionCompleta}} alt="..." class="img-fluid"></div>            
              <div class="post-details">
                <h1>{{ejemplar.nombre}}:{{ejemplar.periodo}}<a (click)="openModal(templated)"><i class="fa fa-bookmark-o"></i>
                <ng-template #templated>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">{{ejemplar.nombre}}</h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <li><strong>Taxon Reino: </strong> {{ejemplar.taxonReino}}</li>
                      <li><strong>Taxon Filo: </strong> {{ejemplar.taxonFilo}} </li>
                      <li><strong>Taxon Clase: </strong> {{ejemplar.taxonClase}}</li>
                      <li><strong>Taxon Orden: </strong> {{ejemplar.taxonOrden}}</li>
                      <li><strong>Taxon Familia: </strong> {{ejemplar.taxonFamilia}}</li>                      
                      <li><strong>Taxon Genero: </strong> {{ejemplar.taxonGenero}}</li>
                      <li><strong>Taxon Especie: </strong> {{ejemplar.taxonEspecie}}</li>
                      <li><strong>Dimensión Largo: </strong> {{ejemplar.dimensionLargo}} mts.</li>
                      <li><strong>Dimensión Alto: </strong> {{ejemplar.dimensionAlto}} mts.</li>
                      <li><strong>Peso: </strong> {{ejemplar.peso}} kgrs.</li>
                      <li><strong>Alimentación: </strong> {{ejemplar.alimentacion}}</li>
                    </div>
                  </ng-template></a></h1>
                <h5>Nro de Coleccion:{{ejemplar.nroColeccion}} </h5>
                <h6>Fecha de Ingreso: {{ejemplar.fechaIngresoColeccion | date:'dd/MM/yyyy'}}</h6>
                <div class="post-body">
                  <p class="lead">{{ejemplar.descripcion1}}</p>
                  <p>{{ejemplar.descripcion1A}}</p>
                  <carousel *ngIf = "ejemplar.fotosEjemplar.length >=1 " >
                      <slide *ngFor ="let foto of ejemplar.fotosEjemplar" >
                        <img src={{rutaEjem}}{{ejemplar._id}}{{foto}} alt="first slide" style="display: block; width: 100%;">
                      </slide>                        
                  </carousel>
                  <br>
                  <h3>Era Geologica: </h3>
                  <p>{{ejemplar.descripcion2}}</p>
                  <li><strong>Formación: </strong>{{ejemplar.eraGeologica[0].formacion}}</li>
                  <li><strong>Grupo: </strong>{{ejemplar.eraGeologica[0].grupo}}</li>
                  <li><strong>Subgrupo: </strong>{{ejemplar.eraGeologica[0].subgrupo}}</li>
                  <li><strong>Edad: </strong>{{ejemplar.eraGeologica[0].edad}}</li>
                  <li><strong>Periodo: </strong>{{ejemplar.eraGeologica[0].periodo}}</li>
                  <li><strong>Era: </strong>{{ejemplar.eraGeologica[0].era}}</li>
                  <br>
                  <blockquote class="blockquote">
                    <p>Una era geológica es una unidad geocronológica formal de la escala temporal geológica que representa el tiempo correspondiente a la duración de un eratema, la unidad cronoestratigráfica equivalente que comprende todas las rocas formadas en ese tiempo. Las eras son una de las divisiones mayores del tiempo geológico, son subdivisiones de los eones y se dividen a su vez en períodos.</p>
                    <footer class="blockquote-footer">Referencia: 
                      <cite title="Source Title">wikipedia.org</cite>
                    </footer>
                  </blockquote>
                  <h4>Area de Hallazgo: </h4>
                  <p>{{ejemplar.descripcion3}}</p>
                  <li><strong>Nombre: </strong>{{ejemplar.areaHallazgo[0].nombreArea}}</li>
                  <li><strong>País: </strong>{{ejemplar.areaHallazgo[0].pais}}</li>
                  <li><strong>Ciudad: </strong>{{ejemplar.areaHallazgo[0].ciudad}}</li>
                </div>                            
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--Muestra los Ejemplares resumidos-->
      <main *ngIf= "mostrarTodas" class="posts-listing col-lg-8">
        <div class="container">
          <div class="row">
            <!-- Ejem nro 1 de la pagina -->
            <div *ngIf ="ejemplares?.length >= indicePagina+1" class="post col-xl-6">
              <div class="post-thumbnail"><img src={{rutaEjem}}{{ejemplares[indicePagina]?._id}}{{ejemplares[indicePagina]?.ilustracionCompleta}}  alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">Especie: {{ejemplares[(indicePagina)]?.taxonEspecie}}</div>
                  <div class="category">Familia: {{ejemplares[(indicePagina)]?.taxonFamilia}}</div>
                </div><a (click)="setearFiltro(ejemplares[(indicePagina)]?.nombre)">
                  <h3 class="h4">{{ejemplares[(indicePagina)]?.nombre | uppercase }}</h3></a>
                <p class="text-muted">{{ejemplares[(indicePagina)]?.descripcion1}}</p>
              </div>
            </div>
            <!-- Ejem nro 2 de la pagina -->
            <div *ngIf ="ejemplares?.length >=indicePagina+2" class="post col-xl-6">
              <div class="post-thumbnail"><img src={{rutaEjem}}{{ejemplares[indicePagina+1]?._id}}{{ejemplares[indicePagina+1]?.ilustracionCompleta}}  alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">Especie: {{ejemplares[(indicePagina+1)]?.taxonEspecie}}</div>
                  <div class="category">Familia: {{ejemplares[(indicePagina+1)]?.taxonFamilia}}</div>
                </div><a (click)="setearFiltro(ejemplares[(indicePagina+1)]?.nombre)">
                  <h3 class="h4">{{ejemplares[(indicePagina+1)]?.nombre | uppercase }}</h3></a>
                <p class="text-muted">{{ejemplares[(indicePagina+1)]?.descripcion1}}</p>
              </div>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <div class="pagination pagination-template d-flex justify-content-center">
              <pagination [totalItems]="ejemplares.length" [itemsPerPage]="2" [(ngModel)]="currentPage"
              (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" ></pagination>
            </div>            
          </nav>
        </div>
      </main>
      <!-- Muestra el lateral segun todos o no -->
      <aside class="col-lg-4">
        <!-- Widget [Barra de Busqueda de Ejemplares]--> 
        <div class="widget search" *ngIf=mostrarTodas>
          <header>
            <h3 class="h6">Buscar Ejemplares:</h3>
          </header>
          <div action="#" class="search-form">
            <div class="form-group">
              <input type="search" placeholder="Nombre del Ejemplar?"  [(ngModel)]= filtrado.nombre name="buscaNombreEjem">
              <button type="submit" class="submit" (click)="mostrarEjem()"><i class="icon-search"></i></button>
            </div>
          </div>
        </div>
        <div class="widget search" *ngIf=!mostrarTodas>
            <header>
              <h3 class="h6">Mostrar Todos los Ejemplares</h3>
            </header>
            <div action="#" class="search-form">
              <div class="form-group">
                <input type="text" placeholder="Haga click en la lupa" readonly>
                <button type="submit" class="submit" (click)="mostrarEjem()"><i class="icon-search"></i></button>
              </div>
            </div>
          </div>
        <!-- Widget [Las Piezas Asociadas]        -->
        <div class="widget latest-posts" *ngIf="!mostrarTodas && (piezas.length >0)" >
          <header>
            <h3 class="h6">Piezas:</h3>
          </header>
          <div class="blog-posts" *ngFor="let ejemplar of ejemplares | filterBy:filtrado | orderBy:['nombre'] " >
              <div class="item d-flex align-items-center" *ngFor="let pieza of piezas | filterBy:{perteneceEjemplar:ejemplar._id} ">
                <div class="image"><a href={{rutaPieza}}{{pieza._id}}{{pieza.imagenesPieza[0]}} data-fancybox="gallery" class="image">
                  <img src={{rutaPieza}}{{pieza._id}}{{pieza.imagenesPieza[0]}} alt="..." class="img-fluid"></a>
                </div>
                  <div class="title"><strong>Nro de Pieza: {{pieza.identificador}}</strong>
                    <div class="d-flex align-items-center">
                        <div class="date"><a (click)="openModal(templatePiezaDim)" ><i class="icon-clock"></i> Ingreso: {{pieza.fechaIngreso | date:'dd/MM/yyyy' }}
                          <ng-template #templatePiezaDim>
                            <div class="modal-header">
                              <h4 class="modal-title pull-left">Dimensiones de pieza: {{pieza.identificador}}</h4>
                              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <li *ngIf= "pieza.medidasPieza.ancho > 0 "><strong>Ancho: </strong>{{pieza.medidasPieza.ancho}}</li>
                              <li *ngIf= "pieza.medidasPieza.largo > 0"><strong>Largo: </strong> {{pieza.medidasPieza.largo}} </li>
                              <li *ngIf= "pieza.medidasPieza.alto > 0"><strong>Alto: </strong>{{pieza.medidasPieza.alto}}</li>
                              <li *ngIf= "pieza.medidasPieza.diametro > 0"><strong>Diámetro: </strong>{{pieza.medidasPieza.diametro}}</li>
                              <li *ngIf= "pieza.medidasPieza.circunferencia > 0"><strong>Circunferencia: </strong>{{pieza.medidasPieza.circunferencia}}</li>
                            </div>
                          </ng-template>
                        </a></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- Widget [Videos]-->        
          <div  *ngFor="let ejemplar of ejemplares | filterBy:filtrado | orderBy:['nombre'] ">
            <div class="widget categories" *ngIf= "!mostrarTodas && (ejemplar.videosEjemplar.length > 0) ">
              <header>
                <h3 class="h6">Videos del Ejemplar: </h3>
              </header>            
                <video 
                  src={{rutaEjem}}{{ejemplar._id}}{{ejemplar.videosEjemplar[indiceVideo]}} width="240" height="160"  controls muted preload></video>
                <nav aria-label="Page navigation videos" *ngIf="ejemplar.videosEjemplar.length > 0">
                    <div class="pagination pagination-template d-flex justify-content-center">
                      <pagination [totalItems]="ejemplar.videosEjemplar.length" [itemsPerPage]="1" [(ngModel)]="currentVideo"
                      (pageChanged)="videoChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" ></pagination>
                    </div>
                </nav>  
            </div>
          </div>
        <!-- Widget [Las bochones asociadas]-->
        <div class="widget tags" *ngIf="!mostrarTodas && (bochones.length > 0)">       
          <header>
            <h3 class="h6">Bochones:</h3> 
          </header>
          <ul class="list-inline" *ngFor="let ejemplar of ejemplares | filterBy:filtrado | orderBy:['nombre'] " >
            <li class="list-inline-item" *ngFor="let bochon of bochones | filterBy:{ejemplarAsociado:ejemplar._id} " >
              <a (click)="openModal(template)" class="tag">Bochon: {{bochon.nombre}}</a>
              <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Bochon: {{bochon.nombre}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <li><strong>Nro de Campo: </strong>{{bochon.nroCampo}}</li>
                    <li><strong>Preparador: </strong> {{bochon.preparador}} </li>
                    <li><strong>Preparación: </strong>{{bochon.tipoPreparacion}}</li>
                    <li><strong>Acidos Aplicados: </strong> 
                      <div *ngFor="let acido of bochon.acidosAplicados">
                        <li  align="center"  >{{acido}}</li> 
                      </div>  
                    </li>
                  </div>
                </ng-template>
            </li>
          </ul>
        </div>
      </aside>
    </div>
</div>
<!--Si no hay Ejemplares -->
<div *ngIf = "ejemplares?.length == 0" class="container">
  <div class="row">
    <div class="post blog-post col-lg-8"> 
        <div class="post-thumbnail"><img  src="assets/datos/ejemplares/portada.jpg" alt="..." class="img-fluid"></div>            
    </div>
  </div>
</div>